.row,.col{padding: 0;margin: 0;}
.zfb,.zhmm{width: 300px;height: 52px;text-align: center;line-height: 52px;}
.dl{width: 600px;}
.sq span,.bd span{width: 600px;height: 30px;text-align: center;line-height: 30px;}
.sm{margin-top: 74px;}
.erwm div{width: 190px;height: 190px;background-color: black;margin: 0 auto;}
.zc{color: blue;margin-top: 135px;}
.zc a{margin: 0 auto;}
.yhm{width: 330px;height: 42px;}
.mm{width: 330px;height: 42px;}
.dlaj{width: 330px;height: 42px;background: salmon;}